COMPOSE_PROJECT_NAME=graylog-local

GRAYLOG_VERSION=7.1.9
MONGODB_VERSION=7.0.16
OPENSEARCH_VERSION=2.19.5

GRAYLOG_PASSWORD_SECRET=change-me-to-at-least-16-chars
GRAYLOG_ROOT_PASSWORD_SHA2=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
GRAYLOG_ROOT_USERNAME=admin
GRAYLOG_ROOT_PASSWORD=admin
GRAYLOG_HTTP_EXTERNAL_URI=http://127.0.0.1:9000/

OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
OPENSEARCH_INITIAL_ADMIN_PASSWORD=Graylog_OS_Dev1!
